body {
    background-color: #fcfada;
}

.menu-container {
    width: 95%;
    margin: 0 auto;
}

.menu-item {
    width: 380px;
}

.food-pic {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.menu-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 1em;
    max-width: 100%;
}

.section-title {
    display: block;
    font-size: 3rem;
    font-weight: 600;
}

.menu-item p {
    margin-top: -10px;
}